<h1>Housing</h1>
<div class="accommodation_info">
    <img src= "images/accommodation.png">
    <div>
        <p>Usually check in a day before the start of the course, and check out on the day of graduation. You
            can change the dates by asking your coordinating manager. When booking, If the selected housing is
            not available for your dates, the school will offer another accommodation option for you to
            consider.</p>
        <div class="housing_checkbox_div">
            <input type="checkbox" class="housing_checkbox" id="need_housing" onclick="dontNeedHousing(this)">
            <label for="need_housing" id="dont_need_housing">I DO NOT NEED HOUSING</label>
        </div>
    </div>
</div>

<div id="accommodations" class="selection_list">
    <div class="selection_box accommodation" id="Stay with Family" onclick="syncAccommodationSelection(this)" data-cost="45">
        <h3>Stay with Family</h3>
        <button>Select</button>

        <div class="options_list">
            <div class="housing_checkbox_div">
                <input type="checkbox" id="single_room" class="housing_checkbox" data-group="group1">
                <label for="single_room">Single room (non en-suit)</label>
            </div>

            <div class="housing_checkbox_div">
                <input type="checkbox" id="half_board" class="housing_checkbox exclusive" data-group="group2" data-cost="35">
                <label for="half_board">Half-board</label>
            </div>

            <div class="housing_checkbox_div">
                <input type="checkbox" id="breakfast_only" class="housing_checkbox exclusive" data-group="group3" data-cost="15">
                <label for="breakfast_only">Breakfast only</label>
            </div>

            <div class="housing_checkbox_div">
                <input type="checkbox" id="self_catering" class="housing_checkbox exclusive" data-group="group4" data-cost="0">
                <label for="self_catering">Self-catering</label>
            </div>
        </div>

        <p class="important_course_info">Our team meets all new families and checks all accommodation before boarding to ensure it meets our standards. Your coordinating manager will contact you after the booking to give you your options to stay with a local family.</p>
    </div>

    <div class="selection_box accommodation" id="Student house" onclick="syncAccommodationSelection(this)" data-cost="70">
        <h3>Student house</h3>
        <button>Select</button>

        <ul class="options_list">

        </ul>

        <ul class="details_list">

        </ul>

        <p class="important_course_info">XXXX student house is located in Jesmond and offers bright and spacious rooms for students. This residence offers a warm and homely atmosphere with only a 15-minute walk to the school.</p>
    </div>

    <div class="hidden" id="I do not need housing">
        <h3>I do not need housing</h3>
        <p class="important_course_info">I will make my own arrangements for my accommodation during my studies</p>
    </div>
</div>
