<h1>Housing</h1>
<div class="accommodation_info">
    <img src= "images/accommodation.png">
    <div>
        <p>Usually check in a day before the start of the course, and check out on the day of graduation. You
            can change the dates by asking your coordinating manager. When booking, If the selected housing is
            not available for your dates, the school will offer another accommodation option for you to
            consider.</p>
        <div class="housing_checkbox_div">
            <input type="checkbox" class="housing_checkbox" id="need_housing" onclick="dontNeedHousing(this)">
            <label for="need_housing" id="dont_need_housing">I DO NOT NEED HOUSING</label>
        </div>
    </div>
</div>

<div id="accommodations" class="selection_list">
    {% for accommodation in accommodations %}

        <div class="selection_box accommodation" id="{{ accommodation.name }}" onclick="syncAccommodationSelection(this)" data-cost="{{ accommodation.price_per_week }}">
            <h3>{{ accommodation.name }}</h3>
            <button>Select</button>

            <div class="options_list">
                {% for option in accommodation.options %}
                    <div class="housing_checkbox_div">
                        {% if option.prechecked %}
                            <input type="checkbox" id="{{ option.name }}" checked="checked" disabled="disabled" class="prechecked" data-group="{{ option.name }}">
                        {% else %}
                            <input type="checkbox" id="{{ option.name }}" class="housing_checkbox exclusive" data-group="{{ option.name }}" data-cost="{{option.price_per_week}}">
                        {% endif %}
                        <label for="{{ option.name }}">{{ option.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <p class="important_course_info">{{ accommodation.description }}</p>
        </div>

    {% endfor %}

    <div class="hidden" id="I do not need housing">
        <h3>I do not need housing</h3>
        <p class="important_course_info">I will make my own arrangements for my accommodation during my studies</p>
    </div>
</div>
