<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/glide.core.css" />
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/glide.theme.css" />

<div class="destinations-carousel">
    <h3>Destinations</h3>
    <div class="glide">
        <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
                {% for element in carousel_elements %}
                    <li class="glide__slide ">
                        <h3>{{ element.name }}</h3>
                        <p>{{ element.description }}</p>
                        <a href="/city/{{element.name}}" target="blank">
                            <img src="/images/cities/{{ element.name }}.png" onerror="this.src='/images/cities/Newcastle.png';">
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                        <path id="Vector" d="M7 10L12 15L17 10" transform="rotate(90,12,12)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                        <path id="Vector" d="M7 10L12 15L17 10" transform="rotate(270,12,12)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    new Glide('.glide', {
        perView: Number(window.innerWidth/475),
        type: "carousel",
        gap: 35,
    }).mount()
</script>
