<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/glide.core.css" />

<div class="destinations-carousel">
    <h3>Destinations</h3>
    <div class="glide">
        <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
                {% for element in carousel_elements %}
                    <li class="glide__slide ">{{ element.name }}<img src="/images/cities/{{ element.name }}.png" onerror="this.src='/images/cities/Newcastle.png';"></li>
                {% endfor %}
            </ul>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
        </div>
    </div>
</div>

<script>
    new Glide('.glide', {
        perView: Number(window.innerWidth/475),
        type: "carousel",
        gap: 35,
    }).mount()
</script>
