<footer class="spur-footer">
  <ul class="spur-footer-container">
    <div class="spur-footer-logo">
      <a href="/">
        <img src="/images/spur-logo-white.png" alt="SPUR">
      </a>
    </div>

    <li>Follow us on</li>

    <img src="/images/icons/instagram.svg" alt="Instagram logo" />
    <img src="/images/icons/tiktok.svg" alt="TicTok logo" />


  </ul>

  <ul class="spur-footer-container">
    <li>Blogs</li>
    <li>Become and ambassador</li>
    <li>Career with us</li>
  </ul>

  <ul class="spur-footer-container">
    <li>International private schools</li>
    <li>International private schools</li>
    <li>Business English</li>
    <li>Higher education</li>
    <li>CPD programs</li>
    <li>CPD programs</li>
  </ul>

  <ul class="spur-footer-container">
    <li>Entertainment</li>
    <li>Test your english</li>
    <li>Terms and Conditions</li>
    <li>Privacy policy</li>
  </ul>
</footer>
