<header class="spur-header">
    <div class="spur-header__container_01">
        <div class="spur-header__logo">
            <a href="/">
                <img src="/images/spur-logo.png" alt="SPUR">
            </a>
        </div>
        <div class="spur-header__links">
            <a href="#">
                <p>About us</p>
            </a>
            <a href="#">
                <p>Blog</p>
            </a>
            <a href="#">
                <p>Let's collaborate</p>
            </a>
        </div>
    </div>

    <div class="spur-header__container_02">
        <button type="button">Contact us</button>

<!--        {% include "components/lang-select.html" %}-->

    </div>
</header>
