<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src="/javascripts/dropdown.js"></script>
<script src="/javascripts/datepicker.js"></script>

{% macro dropdown(name, items) %}
    <div class="dropdown">
        <input id="{{ name }}Dropdown" name="{{ name }}" placeholder="Select {{name}}" onclick="showDropdown('{{ name }}Options')" class="dropinput" value="">
        <div id="{{ name }}Options" class="dropdown-content">
            {% for item in items %}
                <p onclick="selectDropdown('{{ name }}Dropdown','{{ item }}')">{{ item }}</p>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% set courseList = courseList %}
{% set cityList = cityList %}
{% set ageList = ageList %}

<div class="spur-searchbanner__container {{frontPage}}">
    {% if frontPage == "frontpage" %}
        <img src="/images/searchbar-illustration.png" class="spur-searchbar__illustration" alt="spur illustration">
        <div class="spur-searchbanner__text">
            <h2>Learn English.</h2>
            <p>Your dreams are closer than you think.<br>We open a door to your educational journey in the United Kingdom.</p>
        </div>
    {% endif %}

    <div class="spur-searchbanner__fields">
        <form method="post" action="search">

            {% if courseList %}
                {{ dropdown("course", courseList) }}
            {% endif %}
            {{ dropdown("language", languageList) }}
            {{ dropdown("city", cityList) }}
            <input name="date" id="date" placeholder="Select Date" type='text'>
            {{ dropdown("age", ageList) }}

            <input type="submit" value="Search">
        </form>
    </div>
</div>


