<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/typewriter.css">

<script src="/javascripts/datepicker.js"></script>


{% set courseList = courseList %}
{% set cityList = cityList %}
{% set ageList = ageList %}

<div class="spur-searchbanner__container {{frontPage}}">
    {% if frontPage == "frontpage" %}
        <img src="/images/searchbar-illustration.png" class="spur-searchbar__illustration" alt="spur illustration">
        <div class="spur-searchbanner__text">
            <div class="type-container">
                <h2 class="typed-out" id="typed-out">Learn English.</h2>
            </div>
            <p>Your dreams are closer than you think.<br>We open a door to your educational journey</p>
        </div>
    {% endif %}
    
    {% if search %}
        <div class="spur-searchbanner__fields">
            <form method="post" action="/" autocomplete="off">
                {{ dropdown("language", search.languages, searchData.language) }}
                {{ dropdown("city", search.cities, searchData.city) }}
                <input name="date" class="date" id="date" placeholder="Select Date" data-date="{{ searchData.date }}">
                {{ dropdown("age", search.ages, searchData.age) }}
    
                <input type="submit" value="Search">
            </form>
        </div>
    {% endif %}
</div>

<script type="text/javascript" src="/javascripts/typewriter.js"></script>