{% macro stepper(step) %}
  {% set step = step | int %}
  <div class="bs-stepper">
    <div class="bs-stepper-header" role="tablist">
      <!-- your steps here -->
      <div class="step" data-target="#details-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="details-part" id="your-details-trigger">
          {% if step ==  1 %}
            <span class="bs-stepper-circle active">1</span>
          {% else %}
            <span class="bs-stepper-circle done"><img src="images/icons/white-tick.svg" alt="tick"></span>
          {% endif %}
          <span class="bs-stepper-label">Your Details</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#confirm-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="confirm-part" id="confirm-trigger">
          {% if step ==  2 %}
            <span class="bs-stepper-circle active">2</span>
          {% elif step < 2 %}
            <span class="bs-stepper-circle">2</span>
          {% else %}
            <span class="bs-stepper-circle done"><img src="images/icons/white-tick.svg" alt="tick"></span>
          {% endif %}
          <span class="bs-stepper-label">Confirm</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#payment-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="payment-part" id="payment-trigger">
          {% if step ==  3 %}
            <span class="bs-stepper-circle active">3</span>
          {% elif step < 3 %}
            <span class="bs-stepper-circle">2</span>
          {% else %}
            <span class="bs-stepper-circle done"><img src="images/icons/white-tick.svg" alt="tick"></span>
          {% endif %}
          <span class="bs-stepper-label">Payment</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <!-- your steps content here -->
      <div id="details-part" class="content" role="tabpanel" aria-labelledby="details-part-trigger"></div>
      <div id="confirm-part" class="content" role="tabpanel" aria-labelledby="confirm-part-trigger"></div>
      <div id="payment-part" class="content" role="tabpanel" aria-labelledby="payment-part-trigger"></div>
    </div>
  </div>
{% endmacro %}

