<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/glide.core.css" />
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/glide.theme.css" />

<div class="what-else-we-offer">

    <div class="offer-container">

        <div class="offer-image">
            <img src="/images/arai_illustration.png" alt="cool founder image">
        </div>

        <div class="offer-carousel">
            <h1>What else <b>we offer?</b></h1>

            <div data-glide-el="track" class="glide__track">
                <ul class="glide__slides">
                    <li class="glide__slide ">
                        <h3>SUMMER CAMPS</h3>
                        <p>Summer camp combines interactive language lessons with exciting cultural activities, outdoor adventures, and recreational pursuits to create a well-rounded and enriching learning experience. A dynamic and effective approach to language learning, especially for kids of school ages.</p>
                        <button>Show more</button>
                    </li>

                    <li class="glide__slide ">
                        <h3>EXAM PREPERATION</h3>
                        <p>These courses are designed to equip you with the knowledge, skills, and strategies needed to excel in your chosen exam. Whether you're preparing for IELTS, TOEFL, or Cambridge English. These courses will provide you with comprehensive instruction and practice materials tailored to your chosen exam.</p>
                        <button>Show more</button>
                    </li>

                    <li class="glide__slide ">
                        <h3>BUSINESS ENGLISH</h3>
                        <p>Sharpen your language skills for the business world with our specialised Business English courses. Gain confidence and fluency in professional communication to excel in your career.</p>
                        <button>Show more</button>
                    </li>

                    <li class="glide__slide ">
                        <h3>ONLINE ENGLISH COURSE</h3>
                        <p>Sharpen your language skills for the business world with our specialised Business English courses. Gain confidence and fluency in professional communication to excel in your career.</p>
                        <button>Show more</button>
                    </li>
                </ul>

                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path id="Vector" d="M7 10L12 15L17 10" transform="rotate(90,12,12)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path id="Vector" d="M7 10L12 15L17 10" transform="rotate(270,12,12)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <div class="glide__bullets" data-glide-el="controls[nav]">
                    {% for i in range(4) %}
                        <button class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></button>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

<hr class="divider">

<div class="what-is-waiting-for-you">
    <h1>What is <b>waiting for you?</b></h1>
    <div class="what-is-waiting-selection" id="what-is-waiting-selection">
        <div class="what-is-waiting-select selected" onclick="what_is_waiting_select(this, 1)">
            <img src="/images/icons/what-is-waiting-icon-1.svg">
            <h3>In the Class</h3>
        </div>
        <div class="what-is-waiting-select" onclick="what_is_waiting_select(this, 2)">
            <img src="/images/icons/what-is-waiting-icon-2.svg">
            <h3>Housing</h3>
        </div>
        <div class="what-is-waiting-select" onclick="what_is_waiting_select(this, 3)">
            <img src="/images/icons/what-is-waiting-icon-3.svg">
            <h3>Making new friends</h3>
        </div>
    </div>
    <div class="what-is-waiting-info" id="what-is-waiting-info">
        <p id="what-is-waiting-info1">The schools are carefully selected on the platform to help you reach fullest potential. We prioritise exceptional teaching methods, carefully curated, up-to-date and relevant teaching materials, and engaging and interactive classes. We ensure, whether you're a beginner or looking to fine-tune your skills, our schools cater to all levels</p>
        <p class="hidden" id="what-is-waiting-info2">We understand that where you stay plays a crucial role in your overall language-learning experience. That's why we offer a range of accommodation options tailored to your preferences and needs: Hosting Family, Campus Accommodations, and Private Student Houses. No matter your choice, we ensure that your accommodation is a comfortable and welcoming place where you can relax, study, and make lifelong memories. Let us take care of your accommodation needs so you can focus on your language-learning journey.</p>
        <p class="hidden" id="what-is-waiting-info3">Making new friends and immersing yourself in the local culture are integral parts of your language-learning adventure. That's why we offer a monthly updated calendar of social activities and cultural experiences in your selected city vibrant array of social activities to enhance your stay. Book your study with us to not only improve your language skills but also to create lasting memories, explore the local arts scene, and make friends from all corners of the globe</p>
    </div>
    <button>Download Free E-Catalogue</button>
</div>

<script>
    new Glide('.offer-carousel', {
        perView: 1.5,
        type: "carousel",
        gap: 35,
    }).mount()
</script>
