<div class="why-spur">
    <h1>Why <b>SPUR</b> is the best option?</h1>
    <div class="why-spur-info-boxes">
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-1.svg">
            <p>We connect learners to language schools worldwide, from <b>French in France to Japanese
                in Japan.</b></p>
        </div>
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-2.svg">
            <p>Our <b>algorithm recommends</b> courses based on each student’s goals, budget, and preferences.</p>
        </div>
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-3.svg">
            <p>Students book <b>directly with schools</b>, no middleman, no hidden fees.</p>
        </div>
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-4.svg">
            <p>We list only <b>verified, accredited institutions</b> to ensure quality and trust.</p>
        </div>
    </div>
    <button>Download Free E-Catalogue</button>
</div>