<div class="why-spur">
    <h1>Why <b>SPUR</b> is the best option?</h1>
    <div class="why-spur-info-boxes">
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-1.svg">
            <p><b>245 language</b> schools across Great Britain</p>
        </div>
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-2.svg">
            <p><b>1 hour in-person</b> consultation on visa application</p>
        </div>
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-3.svg">
            <p>Booking with us is your guarantee <b>you get better offers</b></p>
        </div>
        <div class="why-spur-info">
            <img src="/images/icons/why-spur-icon-4.svg">
            <p><b>Personal assistance</b> throughout your study journey: from day 1 till you finish your course</p>
        </div>
    </div>
    <button>Download Free E-Catalogue</button>
</div>