{% macro dropdown(name, items) %}
    <script src="/javascripts/dropdown.js"></script>
    <div class="dropdown">
        <input id="{{ name }}Dropdown" name="{{ name }}" placeholder="{{ name }}" onclick="showDropdown('{{ name }}Options')" class="dropinput">
        <div id="{{ name }}Options" class="dropdown-content">
            {% for item in items %}
                <p onclick="selectDropdown('{{ name }}Dropdown','{{ item }}')">{{ item }}</p>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<h1>Booking Details</h1>
<div class="your-offer">

    <div class="offer-details">
        <div class="details-box">
            <h3>{{ school.name }}</h3>
            <p>{{ city }}, United Kingdom</p>
        </div>
        <div class="details-box" id="course-details">
            <h3 id="course_name">Select a Course</h3>
        </div>
        <div class="details-box" id="accommodation-details">
            <h3>Select Accommodation</h3>
        </div>

    </div>

    <form action="#" class="your-details details-box" method="POST">

        <div class="form-grid" id="course_details">
            <div class="form-row">
                <h3>Your details</h3>
                <h3>Amount</h3>
            </div>

            {{ dropdown("course", coursesNames) }}
            <input name="date" id="course_dates" placeholder="Course dates"  type='text' data-date="{{ searchData.date }}">
            <input type="hidden" id="cost_course" value="" />
            <div class="form-row">
                <p>Course Total:</p>
                <p>£<span id="course-total">0</span></p>
            </div>
            
            {{ dropdown("accommodation", ["Stay with Family", "Student house"]) }}
            <input name="date" id="accommodation_dates" placeholder="Stay dates"  type='text' data-date="{{ searchData.date }}">

            <input type="hidden" id="cost_accommodation" value="" />
            <div class="form-row">
                <p>Accommodation Total:</p>
                <p>£<span id="accommodation-total">0</span></p>
            </div>

            <div class="form-row">
                <p>School Admission fee:</p>
                <p>£<span id="admission_fee">50</span></p>
            </div>

        </div>

        <div class="total_element">
            <p>Total to pay</p>
            <p>£<span id="total">0</span></p>
        </div>
        <button type="submit">Book</button>
    </form>
</div>

<script src="/javascripts/your-offer.js"></script>

