{% extends "layout.html" %}

{% block pageTitle %}
Payment
{% endblock %}

{% block content %}
<div class="page">
    {{ stepper(2) }}
    {% include "components/back-link.html" %}
    
    <h1>Confirm order details</h1>
    <div class="check-your-answers">
        <div class="answers-box">
            <div class="details-box">
                <h3>{{ school.name }}</h3>
                <p>{{ city.name }}, United Kingdom</p>
            </div>
            <div class="form-grid details-box">
                <h3>{{ booking.course }}</h3>

                <div class="date-display">
                    <img src="images/icons/calendar.svg" alt="class size">
                    <p> {{ booking.course_dates }}</p>
                </div>

                <div class="form-row">
                    <p>Course Total:</p>
                    <p>£ {{ booking.course_total }}</p>
                </div>
            </div>

            <div class="form-grid details-box">
                <h3>{{ booking.accommodation}}</h3>

                <div class="date-display">
                    <img src="images/icons/calendar.svg" alt="class size">
                    <p> {{ booking.accommodation_dates }}</p>
                </div>

                <div class="form-row">
                    <p>Accommodation Total:</p>
                    <p>£ {{ booking.accommodation_total }}</p>
                </div>
            </div>

            <div class="form-grid details-box">
                <div class="form-row">
                    <p>School Admission fee:</p>
                    <p>£50</p>
                </div>

                <div class="total_element">
                    <p>Total to pay</p>
                    <p>£ {{ booking.total }}</p>
                </div>
            </div>
        </div>
        <div class="answers-box">
            <div class="form-grid details-box" style="height: 100%;">
                <div class="form-row">
                    <p>First Name</p>
                    <p>{{ customer.first_name }}</p>
                </div>
                <div class="form-row">
                    <p>Last Name</p>
                    <p>{{ customer.last_name }}</p>
                </div>
                <div class="form-row">
                    <p>Email</p>
                    <p>{{ customer.email }}</p>
                </div>
                <div class="form-row">
                    <p>Address</p>
                    <p>{{ customer.address }}</p>
                </div>
                <div class="form-row">
                    <p>City</p>
                    <p>{{ customer.city }}</p>
                </div>
                <div class="form-row">
                    <p>Postcode/Zipcode</p>
                    <p>{{ customer.postcode }}</p>
                </div>
                <div class="form-row">
                    <p>Country</p>
                    <p>{{ customer.country }}</p>
                </div>
                <div class="form-row">
                    <p>Phone number</p>
                    <p>{{ customer.phone }}</p>
                </div>
            </div>
        </div>
        <button onclick="window.location.href='./payment?id={{ transactionID }}'">Confirm</button>
    </div>
</div>

{% endblock %}