<!DOCTYPE html>
<html lang="en">
{% block head %}

  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/stepper.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="/javascripts/page_utils.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <title>SPUR:{% block pageTitle %}{% endblock %} </title>

{% endblock %}

{% include "components/header.html" %}
{% include "components/searchbar.html" %}

{% block body %}
  {% block content %}{% endblock %}
{% endblock %}

{% block footer %}
  {% include "components/footer.html" %}
{% endblock %}
</html>