{% extends "layout.html" %}

{% block pageTitle %}
Payment
{% endblock %}


{% block content %}
    <div class="page">
        {% include "components/stepper.html" %}
        <div class="your-offer">
            <div class="offer-details">
                <p>Your Last step to studying abroad!</p>
                <img src="/images/payment-screen.png">
            </div>
            
            <div id="checkout" data-transactionid="{{ transactionID }}" data-total="{{ total }}" data-name="{{ course }} at {{ school.name }}, {{ city.name }}">
                <!-- Checkout will insert the payment form here -->
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        window.stepper = new Stepper($('.bs-stepper')[0]);
        window.stepper.to(3);
    });
</script>

<script src="/javascripts/checkout.js" defer></script>
{% endblock %}