{% extends "layout.html" %}

{% block pageTitle %}
{{ school.name }}
{% endblock %}


{% block content %}
    <div class="page" style="margin-top: 100px">


        <h1>{{ school.name }}</h1>
        <p>{{ school.city.name }}, {{ school.city.country.name }}</p>

        <div class="school_info">
            <img class="school_image" src="/images/schools/generic.webp" alt="Image of {{ school.name }}">
            <div id="read-more-container" class="school_content">
                <p class="read-more-content">
                    {{ school.description }}
                </p>
                <button class="read-more-button" onclick="toggleReadMore('read-more-container')">Read more</button>
            </div>
        </div>

        <div class="show-on-map" onclick=hide_unhide("school_map")>
            <p>show on map</p>
            <img alt="arrow-down" src="/images/icons/iconamoon_arrow-down.svg">
        </div>
        <iframe
                width="100%"
                height="350"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{ google_api_key }}&{{ school.google_maps}}"
                allowfullscreen
                class="school_map"
                id="school_map">
        </iframe>

        {% include "components/courses.html" %}

        <hr class="divider">

        {% include "components/accommodation.html" %}

        {% include "components/your-offer.html" %}

    </div>
{% endblock %}
