{% extends "layout.html" %}

{% block pageTitle %}
Search results
{% endblock %}


{% block content %}
    <div class="school_page page">


        <h1>{{ school.name }}</h1>
        <p>{{ city.name }}, United Kingdom</p>

        <div class="school_info">
            <img class="school_image" src="/images/schools/generic.webp" alt="Image of {{ school.name }}">
            <div class="school_content">
                <p>
                    {{ school.description }} Opened in 2019, and accredited by the British
                    Council, ILC have been providing English language
                    learning successfully for 5 years. The school has
                    helped international students meet their academic
                    goals, local students meet their career goals, and
                    everything in between. Become part of the family
                    and join on your English language journey with ILC.
                </p>
                <p>
                    A small, cozy school in the heart of beautiful Jesmond, not far from Newcastle City Centre, the
                    school provides a professional, personal, and flexible service to meet your language learning needs.
                </p>
            </div>
        </div>

        <hr class="divider">

        <p style="font-size: 16px; margin-left: 10%; margin-bottom: 10px;" onclick=hide_unhide("school_map")>show on map</p>
        <iframe
                width="80%"
                height="350"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{ google_api_key }}&{{ school.google_maps}}"
                allowfullscreen
                class="school_map"
                id="school_map">
        </iframe>

        {% include "components/courses.html" %}

        <hr class="divider">

        {% include "components/accommodation.html" %}

        {% include "components/your-offer.html" %}

    </div>
{% endblock %}
