{% extends "layout.html" %}

{% macro required(name) %}
    {% if name in errors %}error{% endif %}
{% endmacro %}


{% block pageTitle %}
Your Details
{% endblock %}


{% block content %}
<div class="page">
    <h1>Enter your details</h1>
    <form action="/your-details?id={{ transactionID}}" class="your-details details-box" method="POST">

        <div class="form-grid">
            <div class="form-row">
                <input name="first_name" value="{{ first_name }}" placeholder="First Name" autocomplete="given-name" type='text' class="{{ required(first_name) }}">
                <input name="last_name" value="{{ last_name }}" placeholder="Last Name" autocomplete="family-name" type='text' class="{% if 'last_name' in errors %}error{% endif %}">
            </div>

            <input name="email" value="{{ email }}" placeholder="Email" autocomplete="email" type='email' class="{% if 'email' in errors %}error{% endif %}">
            
            <input name="address" value="{{ address }}" placeholder="Address" autocomplete="street-address" type='text' class="{% if 'address' in errors %}error{% endif %}">
            <input name="city" value="{{ city }}" placeholder="City" autocomplete="address-level2" type='text' class="{% if 'city' in errors %}error{% endif %}">
            <input name="postcode" value="{{ postcode }}" placeholder="Postcode/Zipcode" autocomplete="postal-code" type='text' class="{% if 'postcode' in errors %}error{% endif %}">
            <input name="country" value="{{ country }}"  placeholder="Country" autocomplete="country" type='text' class="{% if 'country' in errors %}error{% endif %}">
            <input name="phone" value="{{ phone }}" placeholder="Mobile Phone" autocomplete="tel" type='text' class="{% if 'phone' in errors %}error{% endif %}">

            <label for="passport">Upload a copy of your passport:</label>
            <input name="passport" id="passport" type="file" accept="image/png, image/jpeg" class="{% if 'passport' in errors %}error{% endif %}" />

            <div class="checkbox-item">
                <input type="hidden" name="terms" value="">
                <input name="terms" type="checkbox" id="terms" class="{% if 'terms' in errors %}error{% endif %}">
                <label for="terms" class="{% if 'terms' in errors %}error{% endif %}">Accept terms and conditions</label>
            </div>

            <div class="checkbox-item">
                <input type="hidden" name="data" value="">
                <input name="data" type="checkbox" id="data" class="{% if 'data' in errors %}error{% endif %}">
                <label for="data" class="{% if 'data' in errors %}error{% endif %}">Accept use of your data</label>
            </div>

            <button type="submit">Submit</button>
            
            <div id="basic_rules">
                <p>Review the Basic rules</p>
                <ul>
                    <li>Respect your fellow students and teachers</li>
                    <li>No smoking / No parties, events at the staying house</li>
                    <li>Pets are not allowed</li>
                </ul>
            </div>
            
        </div>
    </form>
</div>
{% endblock %}
