@import "dropdown.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

:root {
  --primary-orange: #ED7A24;
  --primary-blue: #3B51A3;
  --secondary-green: #00B595;
  --secondary-red: #ED0E34;
  --secondary-blue: #16C2EB;
  --secondary-orange: #ED9B0E;
  --neutral-black: #232323;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 20px Lexend, Helvetica, Arial, sans-serif;
}

a {
  color: var(--neutral-black);
}

h2 {
  font-size: 56px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

/*   HEADER   */

.spur-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 28px 146px 28px 146px;
}

.spur-header__container_01 {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px
}

.spur-header__container_01 img {
  /*width: 82px;*/
  height: 36px;
}

.spur-header__links {
  width: 288px;
  height: 20px;
  top: 8px;
  left: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.spur-header__container_02 {
  height: 36px;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
}


.spur-header button {
  border: 1px solid var(--secondary-green);
  width: 132px;
  height: 40px;
  left: 126px;
  padding: 10px 16px 10px 16px;
  gap: 16px;
  border-radius: 4px;
  color: var(--secondary-green);
  background-color: #fff;
}

/* language select */

label[for="language-picker-select"]
{
  display:none;
}

.language-picker-select {
  appearance: none;
}



/*   Searchbar   */

.spur-searchbanner__container {
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /*Text*/
  color: #fff;
  font-weight: normal;

  /*Background*/
  background-color: #fff;
  background-image: linear-gradient(to left, #11246D, var(--primary-blue), #11246D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  margin-bottom: 100px;

  position: relative
}

.spur-searchbanner__container.frontpage {
  height: 400px;
}

.spur-searchbanner__text{
  position:absolute;
  left: 5%
}

.spur-searchbar__illustration{
  position:absolute;
  width: 781px;
  height: 1118px;
  flex-shrink: 0;

  right:0px;
  top:-250px;
  /*z-index:0;*/
}

.spur-searchbanner__fields{
  position:absolute;
  bottom: -65px;

  display: inline-flex;
  padding: 20px 28px;
  align-items: flex-start;
  gap: 12px;

  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px -2px 20px 0px rgba(35, 35, 35, 0.20);
  z-index: 1;
}

#date {
  width: 214px
}

.spur-searchbanner__fields form {
  display: flex;
  /*width: 720px;*/
  height: 48px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.daterangepicker.ltr.show-calendar.opensright div.drp-buttons {
  display: flex;
  align-items: center;
}

input {
  color: rgba(35, 35, 35, 0.6);
  font-size: 16px;

  display: flex;
  width: 168px;
  height: 48px;
  padding: 12px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid rgba(35, 35, 35, 0.40);
  background: #FFF;
}

input[type="submit"] {
  padding: 5px 55px;
  background-color: var(--primary-orange);
  border: none;
  color: #fff;
}

/*carousel*/
.destinations-carousel {
  padding-top: 100px;
  margin-left: 10%;
}

/*/////    search results    /////*/

.schools {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 20px;
}

.schools h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.school {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 28px;
  border-radius: 8px;
  border: 1px solid rgba(35, 35, 35, 0.20);
  background-color: #fff;
}

.school_image {
  width: 260px;
  height: 260px;
  border-radius: 8px;
  object-fit: cover;
  border: 0.8px solid rgba(35, 35, 35, 0.2);
  box-shadow: 0px 2px 10px rgba(35, 35, 35, 0.1);
}

.school_content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 75px;
}

.school_metadata {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  position: static;
}

.school_metadata p {
  font-size: 16px;
}

.school_metadata h2 {
  margin-top: 10px;
}

.school_metadata button {
  margin-top: auto;
}

.date_container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.school_content h3 {
  color: var(--secondary-red);
  font-size: 1.5rem;
}

.school_content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.metadata {
  display: flex;
  align-self: flex-end; /* Pushes the button to the right */
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  color: #fff;
  background: #EC7A25;
  width: 156px;
  height: 20px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

/* Optional: Add hover effect */
.school:hover {
  box-shadow: 0px 4px 20px rgba(22, 194, 235, 0.15);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.95;
}

.school_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.school_content a {
  color: var(--primary-blue);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.school_metadata .under_script {
  font-size: 12px;
  font-weight: 300;
}

.notValidDay {
  background-color: rgba(102, 102, 102, 0.05);
  color: #666666;
  pointer-events: none;
}

.destinations-carousel {
  padding-bottom: 100px;
}

.destinations-carousel .glide__slide {
  position: relative;
}

.destinations-carousel h3 {
  margin-bottom: 20px;
}

.destinations-carousel .glide__slide h3,
.destinations-carousel .glide__slide p {
  position: absolute;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  text-align: left;
  color: white; /* White font color */
  margin: 0;
  padding: 5px 10px;
  width: 90%; /* Adjust width if needed */
}

/* Specific styling for h2 */
.destinations-carousel .glide__slide h3 {
  bottom: 15%;
  font-size: 1.5em; /* Adjust as needed */
  margin-bottom: 5px;
}

/* Specific styling for p */
.destinations-carousel .glide__slide p {
  bottom: 5%;
  font-size: 1em; /* Adjust as needed */
  margin-top: 0;
}


.why-spur {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 194, 235, 0.05);
  align-items: center;
  gap: 50px;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.why-spur h1 b {
  color: #EC7A25;
}

.why-spur button,
.what-is-waiting-for-you button {
  width: 363px;
}

.why-spur-info-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.why-spur-info {
  background-color: #fff;
  border-radius: 8px;
  width: 440px;
  height: 152px;
  filter: drop-shadow(0px 4px rgba(35, 35, 35, 0.10));
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns items' centers vertically */
  justify-content: space-between;
  padding: 25px;
  text-align: left;
  gap: 10px
}

.why-spur-info img {
  width: 40px;
}

.what-else-we-offer {
  padding-bottom: 50px;
}

.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Adds spacing in case of smaller screens */
}

.offer-image,
.offer-carousel {
  /*flex: 1 1 50%; !* Ensures each takes up 50% of the width *!*/
  max-width: 49%;
}

.offer-image img {
  max-width: 100%;
  height: auto;
  /*display: block;*/
  margin: 0 auto; /* Centers the image */
}

.offer-carousel {
  padding-top: 150px;
  /*padding-bottom: 100px;*/
}

.offer-carousel .glide__slide {
  display: flex;
  flex-direction: column;
  /*align-content: flex-end;*/

  position: relative;
  border-radius: 8px;
  border: 2px solid rgba(35, 35, 35, 0.20);
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(35, 35, 35, 0.10);

  width: 520px;
  height: 558px;
  flex-shrink: 0;

  padding: 20px;
}

.offer-carousel .glide__slide button{
  display: flex;
  width: 190px;
  height: 60px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 2px solid var(--secondary-green);
  background: #FFF;
  color: var(--secondary-green);
  margin-top: auto;
}

.offer-carousel .glide__slide h3 {
  color: var(--secondary-green);
  margin-bottom: 20px;
}

.offer-carousel .glide__arrow  {
  color: rgba(0, 181, 149, 0.32);
  margin-top: 50px;
}

.offer-carousel .glide__arrow:hover  {
  color: rgb(0, 181, 149);
  margin-top: 50px;
}

.offer-carousel .glide__arrow--left {
  left: -50px;
}

.offer-carousel .glide__arrow--right {
  left: 64%
}

.offer-carousel {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.offer-carousel * {
  box-sizing: inherit;
}

.offer-carousel h1 {
  margin-bottom: 50px;
  text-align: center; /* Centers text within the title */
}

.offer-carousel h1 b{
  color: var(--secondary-blue);
}

.divider {
  height: 2px;
  width: 80%;
  color: rgba(35, 35, 35, 0.20);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.what-is-waiting-for-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 36px;
}

.what-is-waiting-for-you h1 b {
  color: var(--secondary-red);
}

.what-is-waiting-selection {
  padding: 20px;
  display: flex;
  gap: 36px;
}

.what-is-waiting-select {
  width: 245px;
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.what-is-waiting-info {
  width: 80%;
  height: 250px;
  border-radius: 16px;
  background: rgba(22, 194, 235, 0.05);
  padding: 25px;
}

.hidden {
  display: none;
}

.what-clients-say {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 194, 235, 0.05);
  gap: 50px;
  padding-left: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.client-carousel .glide__slide {
  display: flex;
  flex-direction: column;
  align-content: flex-end;

  position: relative;
  border-radius: 8px;
  border: 2px solid rgba(35, 35, 35, 0.20);
  border-top: 10px solid var(--secondary-green);

  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(35, 35, 35, 0.10);

  height: 338px;
  flex-shrink: 0;

  padding: 50px 36px 36px;
  overflow: visible;
}

.client-carousel .glide__slide button{
  display: flex;
  width: 190px;
  height: 60px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 2px solid var(--secondary-green);
  background: #FFF;
  color: var(--secondary-green);
  margin-top: auto;
}

.client-carousel .glide__slide h3 {
  color: var(--secondary-green);
}

.client-carousel .glide__arrow  {
  color: rgba(0, 181, 149, 0.32);
  margin-top: 50px;
}

.client-carousel .glide__arrow:hover  {
  color: rgb(0, 181, 149);
  margin-top: 50px;
}

.client-carousel .glide__arrow--left  {
  left: -50px;
}

.client-carousel .glide__arrow--right  {
  left: 79%;
}

.client-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.client-carousel * {
  box-sizing: inherit;
}

.client-carousel h1 {
  text-align: center; /* Centers text within the title */
}

.profile-pic{
  position: absolute;
  left: 0;
  top: 0;
  scale: 80%;
}

.review {
  margin-left: 125px;
}

.star-rating {
  display: flex;
}

.what-clients-say .star-rating{
  position: absolute;
  right: 20px;
  top: 255px;
}

.school_metadata .star-rating{
  margin-bottom: 10px;
}

.review-meta {
  margin-top: auto;
}

.what-clients-say h1 b{
  color: var(--secondary-blue);
}

.faq {
  padding-top: 45px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq h3{
  margin-bottom: 36px;
}

.faq-box {
  width: 75%;
  margin-bottom: 28px;

  color: var(--secondary-green);
  border-radius: 8px;
  border: 1px solid rgba(35, 35, 35, 0.20);
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(35, 35, 35, 0.10);
  padding: 24px 32px;
}

.faq-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  margin-top: 15px;
  color: #232323;
}

.find-out-more {
  padding: 10%;
  background-color: rgba(22, 194, 235, 0.05);
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}

.find-out-more h3 {
  width: 40%;
  padding-top: 36px;
}

.find-out-more h3 b {
  color: var(--secondary-red);
}

.find-out-more form {
  width: 40%;
  border-radius: 20px;
  background: #FFF;
  padding: 36px;
}

.find-out-more form input {
    margin-bottom: 20px;
    width: 100%;
}

.spur-footer {
  height: 627px;
  background: #132670;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-top: 36px;
}

.spur-footer-container {
  color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.spur-footer-container li {
  margin-bottom: 25px;
}

.spur-footer-logo {
  padding-bottom: 75px;
}

.school_page {
  gap: 44px;
  margin-left: 50px;
  margin-right: 50px;
}

.school_page h1 {
  color: var(--secondary-red);
}

.school_info {
  display: flex;
  gap: 25px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.selection_list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.selection_box {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(35, 35, 35, 0.20);
  position: relative;
}

.course:hover {
  background: rgba(22, 194, 235, 0.10);
}

.school_map {
  display: none;
  transition: opacity 1s ease-out;
  margin: auto;
}

.details_list {
  margin-top: 25px;
  list-style-type: none;
}

.details_list li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.course button {
  position: absolute;
  left: 100%;
  transform: translate(-115%, -75%);
  background: var(--secondary-green);
}

.accommodation button {
  position: absolute;
  left: 100%;
  transform: translate(-115%, -75%);
  background: var(--primary-blue);
}

.selected {
  border-radius: 8px;
  border: 1px solid rgba(35, 35, 35, 0.20);
  background: rgba(22, 194, 235, 0.10);
}

.important_course_info {
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  background: rgba(22, 194, 235, 0.05);
}

.your-offer {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 12px;
}

.details-box {
  padding: 20px;
  border-radius: 8px;
  background: rgba(22, 194, 235, 0.05);
}

.offer-details button{
  display: none;
}

.your-details {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: auto;
}

.form-section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  border-radius: 8px;
  border: 1px solid rgba(35, 35, 35, 0.20);
}

.form-grid {
  display: grid;
  grid-auto-rows: 48px;
  gap: 12px;
}

.form-column {
  flex: 1;
  min-width: 45%;
}

.amount-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.your-details input, select {
  width: 80%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.offer-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.course-detail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.accommodation {
  margin-bottom: 36px;
}

.accommodation_info {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 12px;
}

.accommodation_info p {
  padding: 12px;
}

.housing_checkbox {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--primary-blue);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.housing_checkbox:checked {
  background-image: url("../images/icons/white-tick.svg");
  background-color: var(--primary-blue);
}

.housing_checkbox_div label {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.housing_checkbox_div {
  display: flex;
  align-items: center;
  gap: 12px;
}

#dont_need_housing {
  color: #3B51A3;
}

.options_list {
  margin-top: 36px;
  display: grid;
  gap: 24px;
  grid-template-columns: 50% 50%;
}

.total_element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
  padding: 24px;
  margin-left: auto;
  border-radius: 4px;
  border: 1px solid rgba(35, 35, 35, 0.40);
  background: #FFF;
  flex-basis: 100%; 
  text-align: center;
  font-size: 24px;
}

.total_element > p:nth-child(2) {
  color: var(--primary-blue);
  font-size: 32px;
}