doctype html
html
    head
        meta(charset="utf-8")
        title Booking confirmed successfully
    body
        h1 Hello #{name},
        p Thanks for signing up to our platform!
        p you're studying #{course} at #{school}
        p Booking reference: #{refNum}
        p We're excited to have you on board.
